# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Devin\Desktop\Uni\Season 3\SEPT\Assingment\Repository\majorproject-7-tues-14-30-3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
